@model List<Blog.Models.BlogPost>

@if (Model == null || !Model.Any()) {
    <p>Blogda herhangi bir yazı bulunamadı.</p>
} 

else {
    foreach (var post in Model)
    {
        <div>
            <h4>@post.Title</h4>
            <p>
                @post.Summary <span>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@post.Id">
                        devamını oku
                    </a>
                </span>
            </p>
            

            <p>
                <a href="/author/@post.AuthorId">@post.Author.Name</a>
                - @post.CreatedAt.ToShortDateString()
                - <a href="/category/@post.CategoryId">@post.Category.Name</a>
            </p>
            <hr />
        </div>
    }
}
