<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Blog.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark my-hover-effect @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" ? "fw-bold" : "")"
                               asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark my-hover-effect @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Content" ? "fw-bold" : "")"
                               asp-area="" asp-controller="Content" asp-action="AuthorsAndCategories">Yazarlar & Kategoriler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark my-hover-effect @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Editor" ? "fw-bold" : "")"
                               asp-area="" asp-controller="Editor" asp-action="Index">Editör</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center py-3">
            &copy; 2025 - Blog - Acun Medya Akademi - Made with &hearts; by <a class="text-dark my-hover-effect" target="_blank" href="https://www.furkan.software">Nafair</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
